*{
	padding: 0;
	margin: 0;
}
ol,ul,li{
	list-style: none;
}
a{
	text-decoration: none;
	display: block;
	color: #000;
}
img{
	border: none;
	display: block;
}
html body{
	min-width: 1200px;
}
.public-container{
    position: relative;
    margin: 0 auto;
    width: 1220px;
}
#banner{
	width: 100%;
	height: 1184px;
	position: relative;
}
.navBgp{
	top: 145px;
	width: 100%;
	height: 104px;
    background-image: url("../images/navBgp.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
}
.bannerBgp{
	top: 0px;
	width: 100%;
	height: 673px;
    background-image: url("../imagesen/CultureBanner1en.png");
    background-size: 100% 100%;
    position: absolute;
}

#nav{
/*	top: -370px;*/
	top: 145px;
	width: 100%;
	height: 171px;
	position: relative;
}

.navScript{
	top: 20px;
	left: 24.83%;
	width: 700px;
	height: 200px;
	position: absolute;
	display: inline-block;
}
.navScript ul {
	width: 100%;
	list-style: none;/* 取消ul标签的小圆点  */
}
.navScript li {
	width: 9.7%;
	float: left; /*左浮动*/
}
.navScript li a {
	text-decoration: none; /*a标签的下划线*/
	color: #000000;
	text-align: center; /*文本居中*/
	line-height: 40px; /*行高*/

}
.navScript li ul {
	transition:1s;
	transform:rotateY(-90deg);
	/*-webkit-transform:rotateY(-90deg);*/  /*通过 rotateY() 方法，
	         元素围绕其 Y 轴以给定的度数进行旋转*/
}
.navScript li li {
	margin-left: -125%;
	width: 350%;
	text-align: center;
	float: none;  /*取消浮动*/
}

.navScript li:hover ul {
	display: block;
	transform:rotateY(0deg);
	/*-webkit-transform:rotateY(0deg);*/
}
@media  screen and (max-width: 1500px) {
			.bannerBgp{
				width: 1200px;
			}
			.navBgp{
				width: 1200px;
			}
			.navScript{
				left: 24.83%;
			}

		}
@media  screen and (min-width: 1500px){
			.bannerBgp{
				width: 100%;
			}
			.navBgp{
				width: 100%;
			}
			.navScript{
				left: 32%;
			}
		}

.homePageClick{
	display: none;
}
.cultureClick{
	display: none;
}

.creativeClick{
	display: none;
}

.coordinateClick{
	display: none;
}

.greenClick{
	display: none;
}

.openClick{
	display: none;
}

.shareClick{
	display: none;
}

.weClick{
	display: none;
}

.languageClick{
	display: none;
}
.bgmOpen{
	top: 108px;
	width: 63px;
	height: 63px;
    background-image: url("../images/bgmOpen.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 20%;
    display: none;
}
#demo{
	display: none;
}
.bgmClose{
	top: 108px;
	width: 63px;
	height: 63px;
    background-image: url("../images/bgmClose.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 20%;
    
}
.up{
	top: 253px;
	width: 63px;
	height: 63px;
    background-image: url("../images/up.png");
    background-repeat: no-repeat;
    position: absolute;
    right: 10%;
}
#head{
	top: 360px;
	width: 100%;
	height: 104px;
    position: absolute;
}
.GreenHeadTextCircle{
	left: 42%;
	width: 226px;
	height: 100px;
    background-image: url("../images/CultureHeadTextCircle.png");
    background-repeat: no-repeat;
    position: absolute;

}
.GreenHeadText{
	top: 35px;
	left: 16%;
	width: 146px;
	height: 21px;
    background-image: url("../imagesen/GreenHeadTexten.png");
    background-repeat: no-repeat;
    position: absolute;
}
#green{
	top: 318px;
	width: 703px;
	height: 343px;
	position: relative;
	margin: 0px auto;
}
.GreenHeadImage1{
	left: -37px;
	width: 167px;
	height: 67px;
    background-image: url("../imagesen/GreenHeadImage2en.png");
    background-repeat: no-repeat;
    position: absolute;
}
.GreenMainText{
	top: 143px;
	width: 626px;
	height: 305px;
    position: absolute;
   
}
#ecology{
	top: 600px;
	width: 703px;
	height: 1071px;
	position: relative;
	margin: 0px auto;
}
.GreenHeadImage2{
	top: 20px;
	left: -37px;
	width: 167px;
	height: 67px;
    background-image: url("../images/GreenHeadImage2.png");
    background-repeat: no-repeat;
    position: absolute;
}
.ecologyPart1{
	top: 142px;
	width: 627px;
	height: 174px;
	position: absolute;
}
.ecologyPart1Image{
	width: 311px;
	height: 174px;
    background-image: url("../images/ecologyPart1Image.png");
    background-repeat: no-repeat;
    position: absolute;
}
.ecologyPart1Text{
	top: 52px;
	left: 336px;
	width: 301px;
	height: 69px;
    position: absolute;
}
.ecologyPart2{
	top: 376px;
	width: 627px;
	height: 208px;
	position: absolute;
}
.ecologyPart2Image{
	width: 311px;
	height: 208px;
    background-image: url("../images/ecologyPart2Image.png");
    background-repeat: no-repeat;
    position: absolute;
}
.ecologyPart2Text{
	top: 42px;
	left: 336px;
	width: 301px;
	height: 69px;
    position: absolute;
}
.ecologyPart3{
	top: 644px;
	width: 627px;
	height: 208px;
	position: absolute;
}
.ecologyPart3Image{
	width: 311px;
	height: 208px;
    background-image: url("../images/ecologyPart3Image.png");
    background-repeat: no-repeat;
    position: absolute;
}
.ecologyPart3Text{
	top: 66px;
	left: 336px;
	width: 301px;
	height: 69px;
    position: absolute;
}
.ecologyPart4{
	top: 912px;
	width: 627px;
	height: 208px;
	position: absolute;
}
.ecologyPart4Image{
	width: 311px;
	height: 208px;
    background-image: url("../images/ecologyPart4Image.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
}
.ecologyPart4Text{
	top: 76px;
	left: 336px;
	width: 301px;
	height: 69px;
    position: absolute;
}
#footer{
	top: 1911px;
	width: 100%;
	height: 679px;
	position: absolute;
}
.footerCloud{
	width: 100%;
	height: 679px;
    background-image: url("../imagesen/footerCloud2en.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
}
@media  screen and (max-width: 1500px) {
			#footer{
				top: 1911px;
				width: 1200px;
				height: 679px;
				position: absolute;
			}
		}
@media  screen and (min-width: 1500px){
			#footer{
				top: 1911px;
				width: 100%;
				height: 679px;
				position: absolute;
			}
		}