*{
	padding: 0;
	margin: 0;
}
ol,ul,li{
	list-style: none;
}
a{
	text-decoration: none;
	display: block;
	color: #000;
}
img{
	border: none;
	display: block;
}
html body{
	min-width: 1200px;
}
.clear{clear: both;} 
.public-container{
    position: relative;
    margin: 0 auto;
    width: 1220px;
}
#banner{
	width: 100%;
	height: 1184px;
	position: relative;
}
.navBgp{
	top: 145px;
	width: 100%;
	height: 104px;
    background-image: url("../images/navBgp.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
}
.bannerBgp{
	top: 0px;
	width: 100%;
	height: 673px;
    background-image: url("../images/CultureBanner1.png");
    background-size: 100% 100%;
    position: absolute;
}

#nav{
/*	top: -370px;*/
	top: 145px;
	width: 100%;
	height: 171px;
	position: relative;
}
.navScript{
	top: 20px;
	left: 24.83%;
	width: 700px;
	height: 200px;
	position: absolute;
	display: inline-block;
}
.navScript ul {
	width: 100%;
	list-style: none;/* 取消ul标签的小圆点  */
}
.navScript li {
	width: 9.7%;
	float: left; /*左浮动*/
}
.navScript li a {
	text-decoration: none; /*a标签的下划线*/
	color: #000000;
	text-align: center; /*文本居中*/
	line-height: 40px; /*行高*/

}
.navScript li ul {
	transition:1s;
	transform:rotateY(-90deg);
	/*-webkit-transform:rotateY(-90deg);*/  /*通过 rotateY() 方法，
	         元素围绕其 Y 轴以给定的度数进行旋转*/
}
.navScript li li {
	margin-left: -29%;
	width: 150%;
	float: none;  /*取消浮动*/
}

.navScript li:hover ul {
	display: block;
	transform:rotateY(0deg);
	/*-webkit-transform:rotateY(0deg);*/
} 
@media  screen and (max-width: 1500px) {
			.bannerBgp{
				width: 1200px;
			}
			.navBgp{
				width: 1200px;
			}
			.navScript{
				left: 24.83%;
			}

		}
@media  screen and (min-width: 1500px){
			.bannerBgp{
				width: 100%;
			}
			.navBgp{
				width: 100%;
			}
			.navScript{
				left: 32%;
			}
		}
/*.navScript li{
    width: 61px;
    height: 61px;
    margin-top: 20px;
    float: left;
    margin-right: 7px;
}*/
.homePageClick{
	display: none;
}
.cultureClick{
	display: none;
}

.creativeClick{
	display: none;
}

.coordinateClick{
	display: none;
}

.greenClick{
	display: none;
}

.openClick{
	display: none;
}

.shareClick{
	display: none;
}

.weClick{
	display: none;
}
.languageClick{
	display: none;
}
.bgmOpen{
	top: 108px;
	width: 63px;
	height: 63px;
    background-image: url("../images/bgmOpen.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 20%;
    display: none;
}
#demo{
	display: none;
}
.bgmClose{
	top: 108px;
	width: 63px;
	height: 63px;
    background-image: url("../images/bgmClose.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 20%;
    
}
.up{
	top: 253px;
	width: 63px;
	height: 63px;
    background-image: url("../images/up.png");
    background-repeat: no-repeat;
    position: absolute;
    right: 10%;
}
#head{
	top: 185px;
	width: 100%;
	height: 104px;
    position: relative;
}
.GreenHeadTextCircle{
	left: 42%;
	width: 226px;
	height: 100px;
    background-image: url("../images/CultureHeadTextCircle.png");
    background-repeat: no-repeat;
    position: absolute;

}
.CreativecHeadText{
	top: 30px;
	left: 67px;
	width: 226px;
	height: 100px;
    background-image: url("../images/CreativecHeadText.png");
    background-repeat: no-repeat;
    position: absolute;
}
#CreativezhongMainPart{
	top: 187px;
	width: 703px;
	height: 1251px;
	position: relative;
	margin: 0px auto;
}
@media  screen and (max-width: 1500px) {
			.GreenHeadTextCircle{
				left: 40%;
			}
			#CreativezhongMainPart{
				left: 3%;
			}

		}
@media  screen and (min-width: 1500px){
			.GreenHeadTextCircle{
				left: 42%;
			}
			#CreativezhongMainPart{
				left: 2.5%;
			}

		}
.CreativezhongMainPartImage{
	top: 20px;
	left: -37px;
	width: 167px;
	height: 67px;
    background-image: url("../images/CreativezhongMainPartImage.png");
    background-repeat: no-repeat;
    position: absolute;
}
.CreativezhongMainText1{
	top: 134px;
	width: 624px;
	height: 214px;
    position: absolute;
}
.CreativezhongMainText2{
	top: 740px;
	width: 624px;
	height: 115px;
    position: absolute;
}
.CreativezhongMainText3{
	top: 1236px;
	width: 624px;
	height: 115px;
    position: absolute;
}
#carousel-example-generic{
	top: 388px;
	width: 626px;
	height: 262px;
    position: absolute;
}

.CreativezhongMainPartTextImages3{
	left: 6px;
	top: 915px;
	width: 625px;
	height: 262px;
    background-image: url("../images/CreativezhongMainPartTextImages3.png");
    background-repeat: no-repeat;
    position: absolute;
}
.CreativezhongMainPartTextImage3Circle{
	top: 911px;
	width: 678px;
	height: 292px;
    background-image: url("../images/CreativezhongMainPartTextImage3Circle.png");
    background-repeat: no-repeat;
    position: absolute;
}



#footer{
	top: 1451px;
	width: 100%;
	height: 679px;
	position: absolute;
}
.footerCloud{
	width: 100%;
	height: 679px;
    background-image: url("../images/footerCloud2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
}
@media  screen and (max-width: 1500px) {
			#footer{
				top: 1451px;
				width: 1200px;
				height: 679px;
				position: absolute;
			}
		}
@media  screen and (min-width: 1500px){
			#footer{
				top: 1451px;
				width: 100%;
				height: 679px;
				position: absolute;
			}
		}